{{ define "home_content" }}

<style>
    .search-container {
        background-color: wheat;
        text-align: center;
        padding: 15px;
    }
    a:link {
        text-decoration: none;
    }
</style>

<div class="row search-container">
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control jsSearchInput" type="text" value="{{ .SearchQuery }}"/>
            <button class="btn btn-primary jsSearch">Search</button>
        </div>

    </form>
</div>

<div class="container">
    {{ range $key, $value := .Hits }}
    <a target="_blank" href="{{ $value.PageURL }}">
        <img class="img-thumbnail" src="{{ $value.PreviewURL }}" href="{{ $value.PageURL }}" />
    </a>
    {{ end }}
</div>

{{ end }}